<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="BaseDirectory" value="C:\Workspace\MobileUpdater\MAUFiles"/>
		<add key ="IrrespectiveQTY" value ="10763"></add>
		<add key ="packfilteration" value ="11875" />
		<add key ="Deposit" value ="12061" />
		<add key ="UOM_REMOVE" value ="12061" />
		<add key ="showtoweb"  value ="12726;12727;12728,12729"/>
		<!--<add key ="Discount_Column" value ="12061" />-->
		<add key="PFTPServer" value="54.174.152.95"/>
		<add key="LiquorAppsConnectionString" value="Data Source=bottlecappsdb.cslxuchadxwc.us-east-1.rds.amazonaws.com;Initial Catalog=liquorapps;User ID=webuser;Password=QCG8nP{kkWebU$er;MultipleActiveResultSets=True"/>
		<!--<add key="LiquorAppsConnectionString" value="Data Source=PK-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>-->
		<!--<add key="LiquorAppsConnectionString" value="Data Source=Nithin-LAPTOP;Initial Catalog=liquorapps;Integrated Security = True;MultipleActiveResultSets=True"/>-->

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>